$base-font-family: 'Raleway';
$base-border-style: 1px solid black;

body {
  font-family: $base-font-family;
  display: grid;
  grid-template-columns: 3fr 3fr repeat(2, 201px) .5fr;
  grid-template-rows: 10vh 25vh 60vh;
}

h1 {
  font-size: 28px;
  font-weight: normal;
}

h2 {
  font-size: 26px;
  font-weight: normal;
}

h3 {
  font-size: 22px;
  font-weight: normal;
}

h4 {
  font-size: 18px;
  font-weight: normal;
}

.opacity-hidden {
  opacity: 0;
}



.title-bar {
  height: 80px;
  grid-column: 1 / 5;

  display: flex;
  justify-content: center;
  align-items: center;

  .menu-button {
    position: absolute;
    left: 1rem;
    width: 30px;
    height: 30px;
  }

  .title {
    border: $base-border-style;
    padding: 7px 120px;
  }
}

.menu {
  position: absolute;
  top: 100px;
  left: 0;
  display: none;

  padding: 10px;

  background: white;
  border: $base-border-style;

  .menu-exit-button {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
}

.url-options {
  width: 600px;
  margin-bottom: 10px;

  grid-column: 1 / 3;
  grid-row: 2 / 3;
  justify-self: center;
  align-self: end;

  display: flex;
  flex-direction: column;
  align-items: center;

  .url-title {
    margin: 5px 0;
  }

  .url {
    width: 600px;
    height: 25px;
    margin: 10px 0;

    &:focus {
      outline: none;
    }
  }

  .accept {
    border-color: forestgreen;
  }

  .reject {
    border-color: crimson;
  }

  .status {
    width: 1000px;
    text-align: center;
  }
}

.screenshot-tools {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 450px;

  grid-column: 1 / 3;
  grid-row: 3 / span 2;

  .screenshot-carousel {
    height: 450px;

    grid-column: 1;
    overflow: auto;

    display: flex;
    align-items: center;


    border-top: $base-border-style;
    border-bottom: $base-border-style;

    .screenshot-content {
      height: 430px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .screenshot-resolution-name {
        margin: 0 0 0 8px;
      }

      .screenshot-container {
        height: 380px;
        width: 400px;
        overflow: auto;

        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        justify-content: center;

        margin: 10px;
        border: 1px solid transparent;

        &:hover {
          border: 1px black solid;
        }

        .screenshot {
          width: 383px;
        }
      }
    }
  }

  .download-screenshots {
    margin: 20px;
  }

}

.large-screenshot-cover {
  position: absolute;
  width: 100%;
  height: auto;

  display: none;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(2px);

  .large-screenshot-content {
    width: 90%;
    height: 90%;

    .return-button {
      width: 30px;
      height: 30px;
    }

    .large-screenshot {
      width: 100%;
    }
  }

}

.screenshot-options-container {
  grid-column: 3 / 5;
  grid-row: 2 / 4;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;


  .screenshot-options-title {
    margin: 20px 0 15px 0;
  }

  .screenshot-options {
    width: 400px;
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: $base-border-style;
    background-color: white;

    .urls {
      display: flex;
      flex-direction: column;
      align-items: center;

      .urls-title {
        margin: 20px 0 2px 0;
      }

      .url-list {
        width: 345px;
        height: 345px;
        padding: 5px;
        margin: 0;

        border: $base-border-style;
        list-style: none;
        overflow: auto;

        .url-list-item {
          margin: 1px;
          width: max-content;

          &:hover {
            background-color: grey;
          }

          a {
            display: block;
            text-decoration: none;
            color: black;
            padding: 1px;

            &:hover {
              color: white;
            }
          }
        }
      }

      .take-screenshots {
        margin: 10px 0;
      }
    }

    .screen-resolutions {
      display: flex;
      flex-direction: column;
      align-items: center;

      .screen-resolutions-title {
        margin: 10px;
      }

      .resolution-list {
        height: 220px;
        width: 350px;

        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        overflow: auto;

        border: $base-border-style;
        padding: 10px;

        .resolution-container {
          margin-right: 5px;
          margin-bottom: 10px;
        }

      }

      .select-buttons {
        margin: 10px;

        button {
          margin: 0 40px;
        }
      }
    }
  }
}