body {
  font-family: "Raleway";
  display: grid;
  grid-template-columns: 3fr 3fr repeat(2, 201px) 0.5fr;
  grid-template-rows: 10vh 25vh 60vh;
}

h1 {
  font-size: 28px;
  font-weight: normal;
}

h2 {
  font-size: 26px;
  font-weight: normal;
}

h3 {
  font-size: 22px;
  font-weight: normal;
}

h4 {
  font-size: 18px;
  font-weight: normal;
}

.opacity-hidden {
  opacity: 0;
}

.title-bar {
  height: 80px;
  grid-column: 1/5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-bar .menu-button {
  position: absolute;
  left: 1rem;
  width: 30px;
  height: 30px;
}
.title-bar .title {
  border: 1px solid black;
  padding: 7px 120px;
}

.menu {
  position: absolute;
  top: 100px;
  left: 0;
  display: none;
  padding: 10px;
  background: white;
  border: 1px solid black;
}
.menu .menu-exit-button {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.url-options {
  width: 600px;
  margin-bottom: 10px;
  grid-column: 1/3;
  grid-row: 2/3;
  justify-self: center;
  align-self: end;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.url-options .url-title {
  margin: 5px 0;
}
.url-options .url {
  width: 600px;
  height: 25px;
  margin: 10px 0;
}
.url-options .url:focus {
  outline: none;
}
.url-options .accept {
  border-color: forestgreen;
}
.url-options .reject {
  border-color: crimson;
}
.url-options .status {
  width: 1000px;
  text-align: center;
}

.screenshot-tools {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 450px;
  grid-column: 1/3;
  grid-row: 3/span 2;
}
.screenshot-tools .screenshot-carousel {
  height: 450px;
  grid-column: 1;
  overflow: auto;
  display: flex;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.screenshot-tools .screenshot-carousel .screenshot-content {
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.screenshot-tools .screenshot-carousel .screenshot-content .screenshot-resolution-name {
  margin: 0 0 0 8px;
}
.screenshot-tools .screenshot-carousel .screenshot-content .screenshot-container {
  height: 380px;
  width: 400px;
  overflow: auto;
  display: flex;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: center;
  margin: 10px;
  border: 1px solid transparent;
}
.screenshot-tools .screenshot-carousel .screenshot-content .screenshot-container:hover {
  border: 1px black solid;
}
.screenshot-tools .screenshot-carousel .screenshot-content .screenshot-container .screenshot {
  width: 383px;
}
.screenshot-tools .download-screenshots {
  margin: 20px;
}

.large-screenshot-cover {
  position: absolute;
  width: 100%;
  height: auto;
  display: none;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px);
}
.large-screenshot-cover .large-screenshot-content {
  width: 90%;
  height: 90%;
}
.large-screenshot-cover .large-screenshot-content .return-button {
  width: 30px;
  height: 30px;
}
.large-screenshot-cover .large-screenshot-content .large-screenshot {
  width: 100%;
}

.screenshot-options-container {
  grid-column: 3/5;
  grid-row: 2/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}
.screenshot-options-container .screenshot-options-title {
  margin: 20px 0 15px 0;
}
.screenshot-options-container .screenshot-options {
  width: 400px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  background-color: white;
}
.screenshot-options-container .screenshot-options .urls {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.screenshot-options-container .screenshot-options .urls .urls-title {
  margin: 20px 0 2px 0;
}
.screenshot-options-container .screenshot-options .urls .url-list {
  width: 345px;
  height: 345px;
  padding: 5px;
  margin: 0;
  border: 1px solid black;
  list-style: none;
  overflow: auto;
}
.screenshot-options-container .screenshot-options .urls .url-list .url-list-item {
  margin: 1px;
  width: max-content;
}
.screenshot-options-container .screenshot-options .urls .url-list .url-list-item:hover {
  background-color: grey;
}
.screenshot-options-container .screenshot-options .urls .url-list .url-list-item a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 1px;
}
.screenshot-options-container .screenshot-options .urls .url-list .url-list-item a:hover {
  color: white;
}
.screenshot-options-container .screenshot-options .urls .take-screenshots {
  margin: 10px 0;
}
.screenshot-options-container .screenshot-options .screen-resolutions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.screenshot-options-container .screenshot-options .screen-resolutions .screen-resolutions-title {
  margin: 10px;
}
.screenshot-options-container .screenshot-options .screen-resolutions .resolution-list {
  height: 220px;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: auto;
  border: 1px solid black;
  padding: 10px;
}
.screenshot-options-container .screenshot-options .screen-resolutions .resolution-list .resolution-container {
  margin-right: 5px;
  margin-bottom: 10px;
}
.screenshot-options-container .screenshot-options .screen-resolutions .select-buttons {
  margin: 10px;
}
.screenshot-options-container .screenshot-options .screen-resolutions .select-buttons button {
  margin: 0 40px;
}

/*# sourceMappingURL=main.css.map */
